<% include header %>
	<nav class="navbar navbar-default navbar-inverse" role="navigation">
        <ul class="nav navbar-nav">
            <li><a href="/" >Home</a></li>
            <li class="active"><a href="/add" >Add Student</a></li>
            <li><a href="/viewAll">View All Students</a></li>
        </ul>
    </nav>
	<section class="container">
		<form action="/add" method="POST" class="form-horizontal text-center">
			<h4 style="color: red;"><%= message %></h4>
			<input type="text" name="surname" placeholder="Surname" required ><br/>
			<input type="text" name="firstname" placeholder="First Name" required ><br/>
			<input type="text" name="middlename" placeholder="Middle Name" required><br/>
			<select name="sex">
				<option disabled selected >--Select gender--</option>
				<option value="Male">Male</option>
				<option value="Female">Female</option>
			</select><br/>
			<select name="level">
				<option disabled selected >--Select level--</option>
				<option value="100Level">100Level</option>
				<option value="200Level">200Level</option>
				<option value="300Level">300Level</option>
				<option value="400Level">400Level</option>
				<option value="500Level">500Level</option>
				<option value="600Level">600Level</option>
			</select><br/>
			<input type="text" name="department" placeholder="Department" required><br/>
			<input type="text" name="faculty" placeholder="Faculty" required><br/>
			<input type="submit" name="submit" value="ADD STUDENT" class="btn btn-primary"><br/>
		</form>
	</section>
<% include footer %>