<% include header %>
    <nav class="navbar navbar-default navbar-inverse" role="navigation">
        <ul class="nav navbar-nav">
            <li class="active"><a href="/" >Home</a></li>
            <li><a href="/add">Add Student</a></li>
            <li><a href="/viewAll">View All Students</a></li>
        </ul>
    </nav>
	<section class="container">
		<h4>Welcome to our website</h4>
	</section>
<% include footer %>